
#include "XTPDockingPaneResource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

XTP_IDB_DOCKINGPANE_VISIOGRIPPER BITMAP  DISCARDABLE     "DockingPane/res/VisioGripper.bmp"


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_DOCKINGPANE_AUTOHIDE     "Auto Hide"
    XTP_IDS_DOCKINGPANE_CLOSE        "Close"
END

