
#include "../XTPDockingPaneResource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

XTP_IDB_DOCKINGPANE_VISIOGRIPPER BITMAP  DISCARDABLE     "DockingPane/res/VisioGripper.bmp"


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XTP_IDS_DOCKINGPANE_AUTOHIDE     "Спрятать"
    XTP_IDS_DOCKINGPANE_CLOSE        "Закрыть"
END

