# Visual Studio
.vs/
*.user
*.suo
*.opensdf
*.sdf
*.db

# Build results
Debug/
Release/
x64/
ipch/
*.obj
*.pch
*.pdb
*.ilk
*.exe
*.dll
*.lib
*.exp
*.log

# Temporary files
*.tmp
*.bak
*.swp

# SourceTree
*.orig
# Archives
*.zip
*.7z
*.rar
*.tar
*.gz
*.msi
packages/