
#include "../XTResource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
// 

XT_IDC_DRAGMOVE         CURSOR  DISCARDABLE     "Controls/res/dragmove.cur"
XT_IDC_HAND             CURSOR  DISCARDABLE     "Controls/res/hand.cur"
XT_IDC_DRAGNONE         CURSOR  DISCARDABLE     "Controls/res/dragnone.cur"
XT_IDC_HANDNONE         CURSOR  DISCARDABLE     "Controls/res/handnone.cur"
XT_IDC_DRAGCOPY         CURSOR  DISCARDABLE     "Controls/res/dragcopy.cur"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

XT_IDB_BTN_OUT          BITMAP  DISCARDABLE     "Controls/res/btn_out.bmp"
XT_IDB_LIGHTBULB        BITMAP  FIXED IMPURE    "Controls/res/lightbulb.bmp"
XT_IDB_LISTEDIT         BITMAP  DISCARDABLE     "Controls/res/btn_listedit.bmp"
XT_IDB_FONTTYPE         BITMAP  DISCARDABLE     "Controls/res/font.bmp"
XT_IDB_SCROLL_ARW       BITMAP  DISCARDABLE     "Controls/res/scroll.bmp"
XT_IDB_CHECKLISTBOX     BITMAP  FIXED IMPURE    "Controls/res/checklist.bmp"
XT_IDB_CHECKLISTBOX_3D  BITMAP  FIXED IMPURE    "Controls/res/checklist_3d.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
XT_IDI_XTREME           ICON    DISCARDABLE     "res\\xtreme.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

XT_IDR_TBAR_HDR         BITMAP  DISCARDABLE     "Controls/res/tbar_hdr.bmp"
XT_IDR_TBAR_OUT         BITMAP  MOVEABLE PURE   "Controls/res/tbar_out.bmp"
XT_IDR_TBAR_HEXEDIT     BITMAP  DISCARDABLE     "Controls/res/tbar_hex.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Toolbar
//

XT_IDR_TBAR_HDR TOOLBAR DISCARDABLE  16, 15
BEGIN
    BUTTON      XT_IDC_SORTASC
    BUTTON      XT_IDC_SORTDSC
    SEPARATOR
    BUTTON      XT_IDC_ALIGNLEFT
    BUTTON      XT_IDC_ALIGNCENTER
    BUTTON      XT_IDC_ALIGNRIGHT
END

XT_IDR_TBAR_OUT TOOLBAR DISCARDABLE  16, 15
BEGIN
    BUTTON      XT_IDC_LARGEICON
    BUTTON      XT_IDC_SMALLICON
END

XT_IDR_TBAR_HEXEDIT TOOLBAR DISCARDABLE  16, 15
BEGIN
    BUTTON      ID_EDIT_UNDO
    SEPARATOR
    BUTTON      ID_EDIT_CUT
    BUTTON      ID_EDIT_COPY
    BUTTON      ID_EDIT_PASTE
    SEPARATOR
    BUTTON      ID_EDIT_CLEAR
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XT_IDD_TIPOFTHEDAY DIALOG DISCARDABLE  0, 0, 279, 157
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sugerencia del día"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&Cerrar",IDOK,221,136,50,14
    CONTROL         "&Mostrar sugerencias al empezar",XT_IDC_CHK_DAYTIP_SHOW,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,140,115,10
    PUSHBUTTON      "&Siguiente sugerencia",XT_IDC_BTN_DAYTIP_NEXT,143,136,
                    75,14
    CONTROL         "",XT_IDC_BTN_DAYTIP_BORDER,"Static",SS_GRAYFRAME | NOT 
                    WS_VISIBLE,8,7,263,123
END

XT_IDD_COLORCUSTOM DIALOG DISCARDABLE  0, 0, 149, 161
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Personalizado"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&Color:",XT_IDC_TXT_COLORS,2,4,19,8
    CONTROL         "",XT_IDC_CLR_WND,"Static",SS_BLACKFRAME | WS_TABSTOP,5,
                    15,119,86
    CONTROL         "",XT_IDC_CLR_LUM,"Static",SS_BLACKFRAME | WS_TABSTOP,
                    128,15,20,86
    LTEXT           "&Matiz:",XT_IDC_TXT_HUE,6,108,20,8
    EDITTEXT        XT_IDC_EDIT_HUE,27,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XT_IDC_SPIN_HUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,49,105,
                    10,14
    LTEXT           "&Sat:",XT_IDC_TXT_SAT,12,125,14,8
    EDITTEXT        XT_IDC_EDIT_SAT,27,122,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin2",XT_IDC_SPIN_SAT,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,49,122,
                    10,14
    LTEXT           "&Lum:",XT_IDC_TXT_LUM,10,140,16,8
    EDITTEXT        XT_IDC_EDIT_LUM,27,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XT_IDC_SPIN_LUM,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,49,137,
                    10,14
    LTEXT           "&Rojo:",XT_IDC_TXT_RED,69,108,18,8
    EDITTEXT        XT_IDC_EDIT_RED,89,106,35,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XT_IDC_SPIN_RED,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,113,105,
                    11,14
    LTEXT           "&Verde:",XT_IDC_TXT_GREEN,65,125,22,8
    EDITTEXT        XT_IDC_EDIT_GREEN,89,122,35,13,ES_AUTOHSCROLL | 
                    ES_NUMBER
    CONTROL         "Spin2",XT_IDC_SPIN_GREEN,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,113,122,
                    11,14
    LTEXT           "&Azul:",XT_IDC_TXT_BLUE,71,140,16,8
    EDITTEXT        XT_IDC_EDIT_BLUE,89,138,35,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XT_IDC_SPIN_BLUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,113,137,
                    11,14
END

XT_IDD_COLORSTANDARD DIALOG DISCARDABLE  0, 0, 147, 161
STYLE WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "Estándar"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&Colores:",XT_IDC_TXT_COLORS,2,4,26,8
    CONTROL         "",XT_IDC_CLR_HEX,"Static",SS_BLACKFRAME | WS_TABSTOP,0,
                    15,147,145
END

XT_IDD_WINDOWLIST DIALOG DISCARDABLE  0, 0, 305, 164
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Ventanas"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Seleccione la &ventana:",IDC_STATIC,7,7,147,8
    LISTBOX         XT_IDC_LBOX_WINDOWS,7,17,216,140,LBS_SORT | 
                    LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      "Ac&tivar",XT_IDC_BTN_ACTIVATE,233,7,66,14
    PUSHBUTTON      "&Aceptar",IDOK,233,24,66,14
    PUSHBUTTON      "&Guardar",XT_IDC_BTN_SAVE,233,41,66,14
    PUSHBUTTON      "&Cerrar ventana(s)",XT_IDC_BTN_CLOSEWINDOWS,233,58,66,
                    14
    PUSHBUTTON      "Casca&da",XT_IDC_BTN_CASCADE,233,75,66,14
    PUSHBUTTON      "Mosaico &horizontal",XT_IDC_BTN_TILEHORZ,233,92,66,14
    PUSHBUTTON      "Mosaico &vertical",XT_IDC_BTN_TILEVERT,233,109,66,14
    PUSHBUTTON      "&Minimizar",XT_IDC_BTN_MINIMIZE,233,126,66,14
END


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XT_IDM_POPUP MENU DISCARDABLE 
BEGIN
    POPUP "RClickOutlookBar"
    BEGIN
        MENUITEM "Icono&s pequeños",            XT_IDC_SMALLICON
        MENUITEM "&Iconos grandes",             XT_IDC_LARGEICON
    END
    POPUP "RClickHexEdit"
    BEGIN
        MENUITEM "&Deshacer",                   ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Cor&tar",                     ID_EDIT_CUT
        MENUITEM "&Copiar",                     ID_EDIT_COPY
        MENUITEM "&Pegar",                      ID_EDIT_PASTE
        MENUITEM "&Borrar",                     ID_EDIT_CLEAR
        MENUITEM SEPARATOR
        MENUITEM "&Seleccionar todo",           ID_EDIT_SELECT_ALL
    END
    POPUP "RClickHeader"
    BEGIN
        MENUITEM "Ordena ascendentemente",      XT_IDC_SORTASC
        MENUITEM "Ordena descendentemente",     XT_IDC_SORTDSC
        MENUITEM SEPARATOR
        POPUP "Alineación"
        BEGIN
            MENUITEM "Alinear a la izquierda",      XT_IDC_ALIGNLEFT
            MENUITEM "Centrar",                     XT_IDC_ALIGNCENTER
            MENUITEM "Alinear a la derecha",        XT_IDC_ALIGNRIGHT
        END
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDC_BTN_NEW          "Nuevo (Insertar)"
    XT_IDC_BTN_DELETE       "Borrar (Borrar)"
    XT_IDC_BTN_UP           "Mover elemento arriba (Alt+Flecha arriba)"
    XT_IDC_BTN_DOWN         "Mover elemento abajo (Alt+Flecha abajo)"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_REG_SETTINGS     "Settings"
    XT_IDS_REG_WNDPOS       "Window Position"
    XT_IDS_REG_COLINFO      "Column Info"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_NAME             "Name"
    XT_IDS_SIZE             "Tamaño"
    XT_IDS_TYPE             "Tipo"
    XT_IDS_MODIFIED         "Modificado"
    XT_IDS_COLOR_AUTO       "Automático"
    XT_IDS_COLOR_CUST       "Personalizar..."
    XT_IDS_SELDIR           "Selecciona carpeta:"
    XT_IDS_RES_ASSERT       "ERROR: No todos los recursos necesarios para Xtreme Toolkit han sido correctamente inicializados.\n\nSi tu proyecto es una aplicación basada en CDialog, o tu clase CMainFrame no es derivada de CXTFrameWnd o CXTMDIFrameWnd debes realizar una llamada a la función ""xtAfxData.InitResources();"" para inicializar los recursos necesarios y eliminar este error.\n\nPuedes añadir ""xtAfxData.InitResources();"" en el constructor de tu clase CMainFrame o CDialog."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_DOT              "..."
    XT_IDS_DEFEXT           "*.*"
    XT_IDS_DEFFILT          "Todos los archivos (*.*)|*.*||"
    XT_IDS_DEFTITLE         "Elíge el nombre de la carpeta:"
    XT_IDS_CLICKKEEPOPEN    "Pulsa para mantener abierto"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_SE_0             "No hay recursos o memoria suficientes."
    XT_IDS_SE_ERR_FNF       "No se puede encontrar el archivo especificado."
    XT_IDS_SE_ERR_PNF       "La ruta especificada no es valida."
    XT_IDS_SE_ERR_ACCESSDENIED "Se ha denegado el acceso al archivo."
    XT_IDS_SE_ERR_OOM       "No hay memoria disponible para completar esa operación."
    XT_IDS_SE_ERR_BAD_FORMAT 
                            "El archivo ejecutable no es valido (No es una aplicación Win32® o el archivo está dañado)."
    XT_IDS_SE_ERR_SHARE     "Ha ocurrido un error de compartición."
    XT_IDS_SE_ERR_ASSOCINCOMPLETE 
                            "La enlace del nombre de archivo está incompleta o es invalida."
    XT_IDS_SE_ERR_DDETIMEOUT 
                            "La operación DDE no puede ser completada debido a una espera demasiado larga."
    XT_IDS_SE_ERR_DDEFAIL   "La operación DDE ha fallado."
    XT_IDS_SE_ERR_DDEBUSY   "La operación DDE no puede realizarse porque hay otras operaciones DDE en curso."
    XT_IDS_SE_ERR_NOASSOC   "No hay ninguna aplicación asociada a ese tipo de archivos."
    XT_IDS_SE_ERR_DLLNOTFOUND 
                            "No se puede encontrar la librería de enlace dinámico especificada."
    XT_IDS_SE_ERR_UNKOWN    "Ha ocurrido un error desconocido. Número de error %d."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDC_SORTASC          "Ordenar la columna seleccionada de forma ascendente\nOrdena ascendentemente"
    XT_IDC_SORTDSC          "Ordenar la columna seleccionada de forma descendente\nOrdena descendentemente"
    XT_IDC_ALIGNLEFT        "Alinéa el contenido de la columna a la izquierda\nAlinear a la izquierda"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDC_ALIGNCENTER      "Centra el contenido de la columna a la izquierda\nAlinear a la centrar"
    XT_IDC_ALIGNRIGHT       "Alinéa el contenido de la columna a la derecha\nAlinear a la derecha"
    XT_IDC_LARGEICON        "Mostrar iconos grandes\nIconos grandes"
    XT_IDC_SMALLICON        "Mostrar iconos pequeños\nIconos pequeños"
    XT_IDC_REMOVEITEM       "Eliminar de la barra de Outlook"
    XT_IDC_RENAMEITEM       "Cambiar el nombre del enlace directo"
    XT_IDC_REMOVEGROUP      "Eliminar el grupo"
    XT_IDC_RENAMEGROUP      "Cambiar el nombre del grupo"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_TIPTEXT          "Texto de la sugerencia"
    XT_IDS_DIDYOUKNOW       "Sabías..."
    XT_IDS_FILE_ABSENT      "El archivo de sugerencias no existe en la carpeta especificada"
    XT_IDS_FILE_CORRUPT     "Error leyendo el archivo de sugerencias"
    XT_IDS_COLOR_CAPTION    "Colores"
    XT_IDS_NEW              "Nuevo"
    XT_IDS_CURRENT          "Actual"
    XT_IDS_DIRECTORIES      " Carpetas:"
    XT_IDS_FILES            " Archivos:"
	XT_IDS_HEX              "Hex"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_CLR_BLACK        "Negro"
    XT_IDS_CLR_BROWN        "Marrón"
    XT_IDS_CLR_OLIVE_GREEN  "Verde oliva"
    XT_IDS_CLR_DARK_GREEN   "Verde oscuro"
    XT_IDS_CLR_DARK_TEAL    "Verde azulado oscuro"
    XT_IDS_CLR_DARK_BLUE    "Azul oscuro"
    XT_IDS_CLR_INDIGO       "Añíl"
    XT_IDS_CLR_GRAY80       "Gris-80%"
    XT_IDS_CLR_DARK_RED     "Rojo oscuro"
    XT_IDS_CLR_ORANGE       "Anaranjado"
    XT_IDS_CLR_DARK_YELLOW  "Amarillo oscuro"
    XT_IDS_CLR_GREEN        "Verde"
    XT_IDS_CLR_TEAL         "Verde azulado"
    XT_IDS_CLR_BLUE         "Azul"
    XT_IDS_CLR_BLUEGRAY     "Azul grisaceo"
    XT_IDS_CLR_GRAY50       "Gris-50%"
    XT_IDS_CLR_RED          "Rojo"
    XT_IDS_CLR_LIGHTORANGE  "Anaranjado claro"
    XT_IDS_CLR_LIME         "Verde lima"
    XT_IDS_CLR_SEA_GREEN    "Verde mar"
    XT_IDS_CLR_AQUA         "Aguamarina"
    XT_IDS_CLR_LIGHT_BLUE   "Azul claro"
    XT_IDS_CLR_VIOLET       "Violeta"
    XT_IDS_CLR_GRAY40       "Gris-40%"
    XT_IDS_CLR_PINK         "Fucsia"
    XT_IDS_CLR_GOLD         "Oro"
    XT_IDS_CLR_YELLOW       "Amarillo"
    XT_IDS_CLR_BRIGHT_GREEN "Verde vivo"
    XT_IDS_CLR_TURQUOISE    "Turquesa"
    XT_IDS_CLR_SKY_BLUE     "Azul cielo"
    XT_IDS_CLR_PLUM         "Ciruela"
    XT_IDS_CLR_GRAY25       "Gris-25%"
    XT_IDS_CLR_ROSE         "Rosa claro"
    XT_IDS_CLR_TAN          "Canela"
    XT_IDS_CLR_LIGHT_YELLOW "Amarillo claro"
    XT_IDS_CLR_LIGHT_GREEN  "Verde claro"
    XT_IDS_CLR_LIGHT_TURQUOISE "Turquesa claro"
    XT_IDS_CLR_PALE_BLUE    "Azul palido"
    XT_IDS_CLR_LAVENDER     "Lavanda"
    XT_IDS_CLR_WHITE        "Blanco"
    XT_IDS_CLR_GRAY         "Gris"
    XT_IDS_CLR_MAROON       "Marrón"
    XT_IDS_CLR_OLIVE        "Oliva"
    XT_IDS_CLR_NAVY         "Navy"
    XT_IDS_CLR_PURPLE       "Rosa"
    XT_IDS_CLR_SILVER       "Plateado"
    XT_IDS_CLR_FUCHSIA      "Fucsia"
    XT_IDS_CLR_NOFILL       "Sin relleno"
    XT_IDS_CLR_NOFILL_TIP   "Sin color"
    XT_IDS_AUTOMATIC        "Automático"
    XT_IDS_AUTOMATIC_TIP    "Color automático"
    XT_IDS_MORE_COLORS      "Más colores..."
    XT_IDS_MORE_COLORS_TIP  "Más colores"
    XT_IDS_STD_COLORS       "Colores estándar"
END

