
#include "../XTResource.h"

/////////////////////////////////////////////////////////////////////////////
//
// Cursor
// 

XT_IDC_DRAGMOVE         CURSOR  DISCARDABLE     "Controls/res/dragmove.cur"
XT_IDC_HAND             CURSOR  DISCARDABLE     "Controls/res/hand.cur"
XT_IDC_DRAGNONE         CURSOR  DISCARDABLE     "Controls/res/dragnone.cur"
XT_IDC_HANDNONE         CURSOR  DISCARDABLE     "Controls/res/handnone.cur"
XT_IDC_DRAGCOPY         CURSOR  DISCARDABLE     "Controls/res/dragcopy.cur"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

XT_IDB_BTN_OUT          BITMAP  DISCARDABLE     "Controls/res/btn_out.bmp"
XT_IDB_LIGHTBULB        BITMAP  FIXED IMPURE    "Controls/res/lightbulb.bmp"
XT_IDB_LISTEDIT         BITMAP  DISCARDABLE     "Controls/res/btn_listedit.bmp"
XT_IDB_FONTTYPE         BITMAP  DISCARDABLE     "Controls/res/font.bmp"
XT_IDB_SCROLL_ARW       BITMAP  DISCARDABLE     "Controls/res/scroll.bmp"
XT_IDB_CHECKLISTBOX     BITMAP  FIXED IMPURE    "Controls/res/checklist.bmp"
XT_IDB_CHECKLISTBOX_3D  BITMAP  FIXED IMPURE    "Controls/res/checklist_3d.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
XT_IDI_XTREME           ICON    DISCARDABLE     "res\\xtreme.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

XT_IDR_TBAR_HDR         BITMAP  DISCARDABLE     "Controls/res/tbar_hdr.bmp"
XT_IDR_TBAR_OUT         BITMAP  MOVEABLE PURE   "Controls/res/tbar_out.bmp"
XT_IDR_TBAR_HEXEDIT     BITMAP  DISCARDABLE     "Controls/res/tbar_hex.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Toolbar
//

XT_IDR_TBAR_HDR TOOLBAR DISCARDABLE  16, 15
BEGIN
    BUTTON      XT_IDC_SORTASC
    BUTTON      XT_IDC_SORTDSC
    SEPARATOR
    BUTTON      XT_IDC_ALIGNLEFT
    BUTTON      XT_IDC_ALIGNCENTER
    BUTTON      XT_IDC_ALIGNRIGHT
END

XT_IDR_TBAR_OUT TOOLBAR DISCARDABLE  16, 15
BEGIN
    BUTTON      XT_IDC_LARGEICON
    BUTTON      XT_IDC_SMALLICON
END

XT_IDR_TBAR_HEXEDIT TOOLBAR DISCARDABLE  16, 15
BEGIN
    BUTTON      ID_EDIT_UNDO
    SEPARATOR
    BUTTON      ID_EDIT_CUT
    BUTTON      ID_EDIT_COPY
    BUTTON      ID_EDIT_PASTE
    SEPARATOR
    BUTTON      ID_EDIT_CLEAR
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

XT_IDD_TIPOFTHEDAY DIALOGEX 0, 0, 279, 157
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "오늘의 팁"
FONT 9, "굴림", 0, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "닫기(&C)",IDOK,221,136,50,14
    CONTROL         "시작할 때 팁 보여주기(&S)",XT_IDC_CHK_DAYTIP_SHOW,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,7,140,113,10
    PUSHBUTTON      "다음 팁(&N)",XT_IDC_BTN_DAYTIP_NEXT,162,136,50,14
    CONTROL         "",XT_IDC_BTN_DAYTIP_BORDER,"Static",SS_GRAYFRAME | NOT 
                    WS_VISIBLE,8,7,263,123
END

XT_IDD_COLORCUSTOM DIALOG DISCARDABLE  0, 0, 147, 161
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "사용자 정의"
FONT 9, "굴림"
BEGIN
    LTEXT           "색(&C):",XT_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XT_IDC_CLR_WND,"Static",SS_BLACKFRAME | WS_TABSTOP,3,
                    15,119,86
    CONTROL         "",XT_IDC_CLR_LUM,"Static",SS_BLACKFRAME | WS_TABSTOP,
                    126,15,20,86
    LTEXT           "색상(&H):",XT_IDC_TXT_HUE,6,108,27,8
    EDITTEXT        XT_IDC_EDIT_HUE,35,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XT_IDC_SPIN_HUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,59,105,
                    10,14
    LTEXT           "채도(&S):",XT_IDC_TXT_SAT,5,125,28,8
    EDITTEXT        XT_IDC_EDIT_SAT,35,122,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin2",XT_IDC_SPIN_SAT,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,59,122,
                    10,14
    LTEXT           "밝기(&L):",XT_IDC_TXT_LUM,8,140,25,8
    EDITTEXT        XT_IDC_EDIT_LUM,35,138,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin3",XT_IDC_SPIN_LUM,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,59,137,
                    10,14
    LTEXT           "빨강(&R):",XT_IDC_TXT_RED,82,108,22,8
    EDITTEXT        XT_IDC_EDIT_RED,106,106,33,13,ES_AUTOHSCROLL | ES_NUMBER
    CONTROL         "Spin1",XT_IDC_SPIN_RED,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,130,105,
                    11,14
    LTEXT           "초록(&G):",XT_IDC_TXT_GREEN,79,125,25,8
    EDITTEXT        XT_IDC_EDIT_GREEN,106,122,33,13,ES_AUTOHSCROLL | 
                    ES_NUMBER
    CONTROL         "Spin2",XT_IDC_SPIN_GREEN,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,130,122,
                    11,14
    LTEXT           "파랑(&B):",XT_IDC_TXT_BLUE,74,140,30,8
    EDITTEXT        XT_IDC_EDIT_BLUE,106,138,33,13,ES_AUTOHSCROLL | 
                    ES_NUMBER
    CONTROL         "Spin3",XT_IDC_SPIN_BLUE,"msctls_updown32",
                    UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_ARROWKEYS,130,137,
                    11,14
END

XT_IDD_COLORSTANDARD DIALOG DISCARDABLE  0, 0, 147, 161
STYLE WS_CHILD | WS_DISABLED | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | 
    WS_CAPTION
CAPTION "표준"
FONT 9, "굴림"
BEGIN
    LTEXT           "색(&C):",XT_IDC_TXT_COLORS,2,4,43,10
    CONTROL         "",XT_IDC_CLR_HEX,"Static",SS_BLACKFRAME | WS_TABSTOP,0,
                    15,147,145
END

XT_IDD_WINDOWLIST DIALOG DISCARDABLE  0, 0, 301, 164
STYLE WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "창"
FONT 9, "굴림"
BEGIN
    LTEXT           "창 목록( &w):",IDC_STATIC,7,7,147,8
    LISTBOX         XT_IDC_LBOX_WINDOWS,7,17,216,140,LBS_SORT | 
                    LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | 
                    LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_VSCROLL | 
                    WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      "활성화(&A)",XT_IDC_BTN_ACTIVATE,233,7,62,14
    PUSHBUTTON      "확인(&O)",IDOK,233,24,62,14
    PUSHBUTTON      "저장(&S)",XT_IDC_BTN_SAVE,233,41,62,14
    PUSHBUTTON      "창 닫기(&C)",XT_IDC_BTN_CLOSEWINDOWS,233,58,62,14
    PUSHBUTTON      "계단식(&d)",XT_IDC_BTN_CASCADE,233,75,62,14
    PUSHBUTTON      "수평 배열(&H)",XT_IDC_BTN_TILEHORZ,233,92,62,14
    PUSHBUTTON      "수직 배열(&V)",XT_IDC_BTN_TILEVERT,233,109,62,14
    PUSHBUTTON      "최소화(&z)",XT_IDC_BTN_MINIMIZE,233,126,62,14
END


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

XT_IDM_POPUP MENU DISCARDABLE 
BEGIN
    POPUP "RClickOutlookBar"
    BEGIN
        MENUITEM "작은 아이콘(&M)",             XT_IDC_SMALLICON
        MENUITEM "큰 아이콘(&G)",               XT_IDC_LARGEICON
    END
    POPUP "RClickHexEdit"
    BEGIN
        MENUITEM "취소(&U)",                    ID_EDIT_UNDO
        MENUITEM SEPARATOR
        MENUITEM "잘라내기(&T)",                ID_EDIT_CUT
        MENUITEM "복사(&C)",                    ID_EDIT_COPY
        MENUITEM "붙여넣기(&P)",                ID_EDIT_PASTE
        MENUITEM "삭제(&D)",                    ID_EDIT_CLEAR
        MENUITEM SEPARATOR
        MENUITEM "모두 선택(&A)",               ID_EDIT_SELECT_ALL
    END
    POPUP "RClickHeader"
    BEGIN
        MENUITEM "오름차순 정렬",               XT_IDC_SORTASC
        MENUITEM "내림차순 정렬",               XT_IDC_SORTDSC
        MENUITEM SEPARATOR
        POPUP "정렬"
        BEGIN
            MENUITEM "왼쪽 정렬",                   XT_IDC_ALIGNLEFT
            MENUITEM "가운데 정렬",                 XT_IDC_ALIGNCENTER
            MENUITEM "오른쪽 정렬",                 XT_IDC_ALIGNRIGHT
        END
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDC_BTN_NEW          "새로 만들기 (Insert)"
    XT_IDC_BTN_DELETE       "삭제 (Delete)"
    XT_IDC_BTN_UP           "항목 위로 이동 (Alt+Up Arrow)"
    XT_IDC_BTN_DOWN         "항목 아래로 이동 (Alt+Down Arrow)"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_REG_SETTINGS     "Settings"
    XT_IDS_REG_WNDPOS       "Window Position"
    XT_IDS_REG_COLINFO      "Column Info"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_NAME             "이름"
    XT_IDS_SIZE             "크기"
    XT_IDS_TYPE             "타입"
    XT_IDS_MODIFIED         "수정"
    XT_IDS_COLOR_AUTO       "자동"
    XT_IDS_COLOR_CUST       "사용자 정의..."
    XT_IDS_SELDIR           "Select Directory:"
    XT_IDS_RES_ASSERT       "에러: Xtreme Toolkit이 필요로 하는 모든 자원이 올바르게 초기화되지 않았습니다.\n\n만약 당신의 프로젝트가 CDialog 응용 프로그램이거나, 또는 당신의 CMainFrame 클래스가 CXTFrameWnd 또는 CXTMDIFrameWnd로부터 상속받지 않았다면 이 자원을 활성화하고 이 에러에 따른 assertion을 제거하기 위해서 ""xtAfxData.InitResources();""를 호출해야 합니다.\n\nCMainFrame 또는 CDialog의 생성자에 ""xtAfxData.InitResources();""를 넣으면 됩니다."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_DOT              "..."
    XT_IDS_DEFEXT           "*.*"
    XT_IDS_DEFFILT          "All Files (*.*)|*.*||"
    XT_IDS_DEFTITLE         "디렉토리 이름을 입력하세요:"
    XT_IDS_CLICKKEEPOPEN    "열려 있도록 핀을 클릭하세요"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_SE_0             "이 시스템은 메모리 또는 자원이 부족합니다."
    XT_IDS_SE_ERR_FNF       "지정된 파일을 찾을 수 없습니다."
    XT_IDS_SE_ERR_PNF       "지정된 경로를 찾을 수 없습니다."
    XT_IDS_SE_ERR_ACCESSDENIED "지정된 파일을 접근할 수 없습니다."
    XT_IDS_SE_ERR_OOM       "메모리가 부족하여 작업을 수행할 수 없습니다."
    XT_IDS_SE_ERR_BAD_FORMAT 
                            "지정된 실행파일 .exe 가 올바르지 않습니다 (Win32?.exe가 아니거나  .exe의 이미지에 에러가 있습니다)."
    XT_IDS_SE_ERR_SHARE     "공유 위반이 발생했습니다."
    XT_IDS_SE_ERR_ASSOCINCOMPLETE 
                            "파일명 연결이 완전하지 못하거나 올바르지 않습니다."
    XT_IDS_SE_ERR_DDETIMEOUT "시간 초과로 DDE 수행이 중단되었습니다."
    XT_IDS_SE_ERR_DDEFAIL   "DDE 수행이 실패했습니다."
    XT_IDS_SE_ERR_DDEBUSY   "다른 DDE 수행으로 인해 DDE 수행이 중단되었습니다."
    XT_IDS_SE_ERR_NOASSOC   "주어진 파일의 확장명과 연결된 응용 프로그램이 없습니다."
    XT_IDS_SE_ERR_DLLNOTFOUND 
                            "지정된 동적 연결 라이브러리를 찾을 수 없습니다."
    XT_IDS_SE_ERR_UNKOWN    "알 수 없는 에러 %d가 발생했습니다."
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDC_SORTASC          "선택된 열을 오름차순으로 정렬하기\n오름차순 정렬"
    XT_IDC_SORTDSC          "선택된 열을 내림차순으로 정력하기\n내림차순 정렬"
    XT_IDC_ALIGNLEFT        "선택된 열의 내용을 왼쪽으로 정렬\n왼쪽으로 정렬"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDC_ALIGNCENTER      "선택된 열의 내용을 가운데로 정렬\n가운데로 정렬"
    XT_IDC_ALIGNRIGHT       "선택된 열의 내용을 오른쪽으로 정렬\n오른쪽으로 정렬"
    XT_IDC_LARGEICON        "큰 아이콘 보여주기\n큰 아이콘"
    XT_IDC_SMALLICON        "작은 아이콘 보여주기\n작은 아이콘"
    XT_IDC_REMOVEITEM       "Outlook 바에서 제거"
    XT_IDC_RENAMEITEM       "바로가기 이름 바꾸기"
    XT_IDC_REMOVEGROUP      "그룹 제거"
    XT_IDC_RENAMEGROUP      "그룹 이름바꾸기"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_TIPTEXT          "팁 문장"
    XT_IDS_DIDYOUKNOW       "알고 계세요..."
    XT_IDS_FILE_ABSENT      "팁 파일이 지정된 디렉토리에 없습니다."
    XT_IDS_FILE_CORRUPT     "팁 파일을 읽는 중 오류"
    XT_IDS_COLOR_CAPTION    "색"
    XT_IDS_NEW              "새로 만들기"
    XT_IDS_CURRENT          "현재"
    XT_IDS_DIRECTORIES      " 디렉토리:"
    XT_IDS_FILES            " 파일:"
	XT_IDS_HEX              "Hex"
END

STRINGTABLE DISCARDABLE 
BEGIN
    XT_IDS_CLR_BLACK        "검정"
    XT_IDS_CLR_BROWN        "갈색"
    XT_IDS_CLR_OLIVE_GREEN  "연한 녹색"
    XT_IDS_CLR_DARK_GREEN   "짙은 녹색"
    XT_IDS_CLR_DARK_TEAL    "짙은 청록"
    XT_IDS_CLR_DARK_BLUE    "짙은 파랑"
    XT_IDS_CLR_INDIGO       "짙은 남색"
    XT_IDS_CLR_GRAY80       "80% 회색"
    XT_IDS_CLR_DARK_RED     "짙은 빨강"
    XT_IDS_CLR_ORANGE       "주황"
    XT_IDS_CLR_DARK_YELLOW  "짙은 노랑"
    XT_IDS_CLR_GREEN        "초록"
    XT_IDS_CLR_TEAL         "청록"
    XT_IDS_CLR_BLUE         "파랑"
    XT_IDS_CLR_BLUEGRAY     "푸른 회색"
    XT_IDS_CLR_GRAY50       "50% 회색"
    XT_IDS_CLR_RED          "빨강"
    XT_IDS_CLR_LIGHTORANGE  "연한 주황"
    XT_IDS_CLR_LIME         "연한 노랑"
    XT_IDS_CLR_SEA_GREEN    "연한 청록"
    XT_IDS_CLR_AQUA         "바다색"
    XT_IDS_CLR_LIGHT_BLUE   "연한 파랑"
    XT_IDS_CLR_VIOLET       "자주색"
    XT_IDS_CLR_GRAY40       "40% 회색"
    XT_IDS_CLR_PINK         "분홍"
    XT_IDS_CLR_GOLD         "황금색"
    XT_IDS_CLR_YELLOW       "노랑"
    XT_IDS_CLR_BRIGHT_GREEN "밝은 초록"
    XT_IDS_CLR_TURQUOISE    "옥색"
    XT_IDS_CLR_SKY_BLUE     "하늘색"
    XT_IDS_CLR_PLUM         "짙은 보라"
    XT_IDS_CLR_GRAY25       "25% 회색"
    XT_IDS_CLR_ROSE         "장미"
    XT_IDS_CLR_TAN          "황갈색"
    XT_IDS_CLR_LIGHT_YELLOW "가벼운 노랑"
    XT_IDS_CLR_LIGHT_GREEN  "가벼운 초록"
    XT_IDS_CLR_LIGHT_TURQUOISE "가벼운 옥색"
    XT_IDS_CLR_PALE_BLUE    "탁한 파랑"
    XT_IDS_CLR_LAVENDER     "연보라"
    XT_IDS_CLR_WHITE        "백색"
    XT_IDS_CLR_GRAY         "회색"
    XT_IDS_CLR_MAROON       "적갈색"
    XT_IDS_CLR_OLIVE        "올리브"
    XT_IDS_CLR_NAVY         "해군색"
    XT_IDS_CLR_PURPLE       "자주"
    XT_IDS_CLR_SILVER       "은색"
    XT_IDS_CLR_FUCHSIA      "자홍색"
    XT_IDS_CLR_NOFILL       "빈 칸"
    XT_IDS_CLR_NOFILL_TIP   "무색"
    XT_IDS_AUTOMATIC        "자동"
    XT_IDS_AUTOMATIC_TIP    "자동 색"
    XT_IDS_MORE_COLORS      "다른 색..."
    XT_IDS_MORE_COLORS_TIP  "다른 색"
    XT_IDS_STD_COLORS       "표준 색"
END

